@import '../../../styles/blockexplore';
@import '../../../styles/custom';


.latest-trasactions {
    display: flex;
    flex-direction: column;
    border: 1px solid $borderColorExplore;
    border-radius: 8px;
    gap: 12px;
    padding: 12px;
    min-width: 350px;

    .first-block {
        display: flex;
    }

    .second-block {
        display: flex;
    }

    .header-block {
        h3 {
            font-weight: 600;
            font-size: 18px;
            border-bottom: 1px solid $borderColorExplore;
            padding-bottom: 12px;
        }
    }

    .icon {
        display: none;
    }

    .truncateHexString {}

    .unordered-list {
        list-style: none;

        .list {
            display: flex;
            flex-direction: column;
            margin-bottom: 12px;
            padding-bottom: 12px;
            border-bottom: 1px solid $borderColorExplore;
            gap: 4px;
        }
    }

    .title {
        font-weight: 600;
    }

    .links {
        color: $linkColor;
        font-size: 14px;
    }

    .tx_value {
        border-radius: 6px;
        border: 1px solid $borderColorExplore;
        padding: 4px;
        font-size: 12px;
    }

    .third-block {
        display: flex;
        gap: 12px;
        align-items: center;
    }

    .time {
        color: #ccccccb9;
        font-size: 13px;
    }
}