.nav {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
}

.nav-menu {
    margin: 12px 0 24px;
    display: flex;
    justify-content: space-around;
    width: 100vw;
}


.price {
    font-size: 18px;
    display: flex;
    gap: 64px;
    flex-direction: row;
    justify-content: space-around;
}

.price a {
    text-decoration: none;
    color: rgb(160, 160, 237);
}
 