@import '../../styles/blockexplore';
@import '../../styles/custom';


.dashboard {
    display: flex;

    .main {
        display: flex;
        flex-direction: column;
        gap: 48px;
        
        @include tablet {
            flex-direction: row;
            justify-content: space-evenly;
            gap: 24px;
        }
    }

    .title {
        font-size: 12px;
        font-weight: 600;
        color: #f0f0f0a1;
    }

    .value {
        font-size: 18px;
    }

    .dashboard-tnx-list {
        border: 1px solid #ddd;
        padding: 8px;
    }

}